<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
</head>
<body>
    <div th:replace="fragments/navbar :: body"></div>

    <h1>Lista de Reservas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Refeição</th>
                <th>Data</th>
                <th>Restaurante</th>
                <th>Token</th>
                <th>Check-in</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="res : ${reservas}">
                <td th:text="${res.meal.name}">Nome</td>
                <td th:text="${res.date}">Data</td>
                <td th:text="${res.meal.restaurant.name}">Restaurante</td>
                <td th:text="${res.token}">Token</td>
                <td th:text="${res.used ? '✅' : '❌'}">Check-in</td>
                <td>
                    <span th:if="${res.used}">✅</span>
                    <form th:if="${!res.used}" th:action="@{'/checkin/' + ${res.token}}" method="post">
                        <button type="submit">Check-in</button>
                    </form>
                </td>
                
            </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
